name: Build & Release Android APK

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: upload artifact
        uses: actions/upload-artifact@v3
        if: success()
        with:
          name: ${{ env.APP_UPLOAD_NAME }}
          path: ${{ env.APP_UPLOAD }}
          uses: softprops/action-gh-release@v1
          with:
            files: app/build/outputs/apk/release/*.apk
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
